<h4> Total Time taken for the Process: <%= @time2-@time1%> seconds</h4>
<div style="text-align:center;"><h2>Lower Triangular matrix </h2></div>
<table class="table table-striped table-bordered table-condensed">
  <b>
    <tr>
      <td></td><% @document_names.each do |d| %> <td><b><%=d%></b></td><%end%>
    </tr>
<% @similarities.each_with_index do |data,i| %>
    <tr>
      <td>
        <b><%= @document_names[i] %></b>
      </td>
    <% data.each do |d| %>
        <td>
            <%= d %>
        </td>
    <% end%>
      </tr>
<% end %>
    </b>
</table>


<div style="text-align:center;"><h2>Time matrix</h2></div>
<table class="table table-striped table-bordered table-condensed">
  <b>
    <tr>
      <td></td><% @document_names.each do |d| %> <td><b><%=d%></b></td><%end%>
    </tr>
    <% @times.each_with_index do |data,i| %>
    <tr>
      <td>
        <b><%= @document_names[i] %></b>
      </td>
    <% data.each do |d| %>
        <td>
            <%= d %>
        </td>
    <% end%>
      </tr>
<% end %>
    </b>
</table>

<h3> <a href="#" class="btn btn-info" onclick="window.location.href='/jaccardGraph'">Display Connectivity Graph</a></h3>
